@import "../../index.scss";
.S{
    width: 100vw;
    height: 100vh;
    display: block;
    &.Landing{
        height: calc(100vh - 4.5rem);
        margin-top: 4.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .greeting{
            width: 40vw;
            margin-left: 4rem;
            transform: translateY(-2rem);
            h1{
                font-size: 3rem;
                line-height: 1.1;
                margin-bottom: 1.5rem;
                span{
                    color: transparent;
                    -webkit-text-stroke: 2px $color;
                }
            }
            p{
                color: $color-gray;
                width: 90%;
                margin-bottom: 4rem;
            }
            a{
                padding: .8rem 1.4rem ;
                background: $color;
                color: $background;
                margin-right: 2rem;
                border-radius: .4rem;
                &.go{
                    padding: calc(.8rem - 1px) calc(1.4rem - 1px);
                    background: $background;
                    color: $color;
                    border: 2px solid $color;
                }
            }
        }
        .ImgContainer{
            width: 28rem;
            height: 28rem;
            transform: translateY(-2rem); 
            background: linear-gradient(to top left,$color-gray  00% ,$color  90%);
            margin-right: 8rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            position: relative;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1020%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/rect%3e%3cpath d='M-164.71 330.02C-14.04 337.31 159.06 593.81 375.48 598.82 591.89 603.83 577.43 635.28 645.57 635.36' stroke='rgba(201%2c 201%2c 201%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-118.17 339.84C1.3 340.03 118.19 409.84 354.56 409.84 590.92 409.84 584.46 338.34 827.28 339.84 1070.11 341.34 1161.49 620.99 1300.01 632.52' stroke='rgba(201%2c 201%2c 201%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-261.3 333.79C-116.46 329.99 1.46 119.48 277.78 120.99 554.1 122.5 642.73 548.05 816.86 577.27' stroke='rgba(201%2c 201%2c 201%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-74.26 240.47C83.59 245.85 199.19 487.14 505.07 492.47 810.95 497.8 935.3 633.12 1084.4 634.14' stroke='rgba(201%2c 201%2c 201%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-127.83 51.67C-22.16 51.91 80.6 121.67 289.02 121.67 497.45 121.67 469.61 37.73 705.88 51.67 942.15 65.61 965.57 515.75 1122.73 570.24' stroke='rgba(201%2c 201%2c 201%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1020'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
            background-size: 100% 100%;
            
            img{
                width: 100%;
                transform: scale(1.3) rotate(-20deg) translateY(-1rem);
                z-index: 1;
            }
        }
    }
    &.moreBought{
        height: 150vh;
        h3.Tittle{
            font-size: 1.6rem;
            transform: translateY(-3rem);
            display: flex;
            align-items: center;
            &::after{
                content: "";
                width: 5rem;
                height: 2px;
                background: $color;
                display: block;
                margin-left: 1.5rem;
            }
            &::before{
                content: "";
                width: 5rem;
                height: 2px;
                background: $color;
                display: block;
                margin-right: 1.5rem;
                
            }
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .CardContainer{
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 100vw;
            .Card{
                position: relative;
                display: block;
                margin: auto;
                width: 22rem;
                height: 30rem;
                border-radius: 25px;
                background: $background-Two;
                color: #fff;
                text-align: center;
                border-radius: 20px;
                box-shadow: #a8a8a81c -10px 10px 10px,#a8a8a81c 10px 10px 10px; 
                overflow: hidden;
                margin-bottom: 6vh;
                  
                  &::before{
                    
                    content: " ";
                      position: absolute;
                      top: 0;
                      left: 0;
                      width: 100%;
                      height: 100%;
                      background: #000000;
                      clip-path: circle(12vw at 70% 10%);
                      transition: 0.5s ease-in-out;
                  }
                  &:hover:before{
                    
                    clip-path: circle(18vw at 100% -20%);
                  }
                  &:after {
                      content: "";
                      position: absolute;
                      top: 30%;
                      left: -20%;
                      font-size: 12em;
                      font-weight: 800;
                      font-style: italic;
                      color: rgba(255, 255, 255, 0.04);
                  }
                  
                  .price {
                      position: absolute;
                      top: 0.8vw;
                      right: 0.8vw;
                      font-weight: 500;
                      backdrop-filter: blur(8px);
                      background-color: rgba(0, 0, 0, 0.112);
                      box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
                      border: 0px rgba(255, 255, 255, 0.4) solid;
                      border-bottom: 0px rgba(40, 40, 40, 0.35) solid;
                      border-right: 0px rgba(40, 40, 40, 0.35) solid;
                      padding: .5vw .8vw;
                    border-radius: 3vw;
                      font-size: .9vw;
                      border-radius: 4px;
                  }
                  &:hover .imgBx{
                    transform: translateY(5rem);
                  }
                  &:hover .imgBx.Two{
                    transform: translateY(.2rem);
                  }
                  .imgBx{
                      transform: translateY(8rem);
                      transition: transform ease .5s;
                    &.one{
                        img{
                            margin-bottom: 1rem;
                        }
                    }
                    &.Two{
                      transform: translateY(4.5rem);
                        img{
                            width: 12rem;
                        }
                    }
                    &.three{
                        img{
                            margin-bottom: -3rem;
                        }
                    }
                    img{
                        width: 20rem;
                    }
                    h2{
                        font-size: 1.5vw;
                      } 
                      p{
                        font-size: .9vw;
                        width: 100%;
                      } 
                  }
                  .contentBx {
                      position: absolute;
                      bottom: 0;
                      width: 100%;
                      height: 0px;
                      text-align: center;
                      transition: 1s;
                      z-index: 10;
                  }
                  &:hover .contentBx {
                      height: 10.5vw;
                  }
                  .contentBx h2 {
                      position: relative;
                      font-weight: 600;
                      letter-spacing: 1px;
                      color: #ffffff;
                    
                  }
                  .contentBx .size,
                  .contentBx .color {
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      padding: 8px 20px;
                      transition: 0.5s;
                      opacity: 0;
                      visibility: hidden;
                  }
                  &:hover .contentBx .size {
                      opacity: 1;
                      visibility: visible;
                      
                  }
                  &:hover .contentBx .color {
                      opacity: 1;
                      visibility: visible;
                  }
                  .contentBx .size h3,
                  .contentBx .color h3 {
                      color: #fff;
                      font-weight: 300;
                      font-size: 1.2vw;
                      text-transform: uppercase;
                      letter-spacing: 2px;
                      margin-right: 10px;
                  }
                  .contentBx .size span {
                      width: 1.5vw;
                      height: 1.5vw;
                      text-align: center;
                      font-size: 1vw;
                      display: inline-block;
                      color: #111;
                      background: #fff;
                      margin: 0 5px;
                      transition: 0.5s;
                      border-radius: 4px;
                    transition: all ease .5s;
                  }
                  .contentBx .size span:hover{
                    background: #000;
                    color: #fff;
                  }
                  .contentBx .color span {
                      width: 1.5vw;
                      height: 1.5vw;
                      background: rgb(0, 0, 0);
                      border-radius: 50%;
                      margin: 0 5px;
                  }
                  
                  .contentBx .color span:nth-child(2) {
                      background: #ffffff;
                  }
                  .contentBx .color span:nth-child(3) {
                      background: rgb(255, 0, 0);
                  }
                  .contentBx .color span:nth-child(4) {
                      background: rgb(0, 63, 199);
                  }
                  .contentBx button {
                      display: inline-block;
                      padding: 0.6vw 1.1vw;
                      background: #fff;
                      border-radius: 4px;
                      margin-top: 1vw;
                      text-decoration: none;
                      font-weight: 600;
                      color: #1f1f1f;
                      opacity: 0;
                      transform: translateY(50px);
                      transition: 0.5s;
                      border: none;
                    font-size: 1vw;
                  }
                  &:hover .contentBx button {
                      opacity: 1;
                      transform: translateY(0px);
                    cursor: pointer;
                      
                  }
                  .contentBx button:hover{
                    color: #fff;
                    background: #000000;
                  }
                  .info {
                      position: absolute;
                      top: 1em;
                      left: 1em;
                      color: #fff;
                      z-index: 300;
                  }
                  
                  .text {
                      display: none;
                      color: #fff;
                      padding: 2em;
                      z-index: 299;
                      position: relative;
                      backdrop-filter: blur(20px);
                      background-color: rgba(0, 0, 0, 0.2);
                      height: 100%;
                      text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
                  }
                  .info:hover + .text {
                      display: block;
                  }
                  .imgBx p{
                    transition: all ease .3s;
                    color: #bdbdbd;
                    width: 15vw;
                    display: block;
                    margin: auto;
                  }
                  &:hover .imgBx p{
                    opacity: 0;
                  }
            }
        }
        .BigCard{   
            width: 92%;
            border-radius: 2rem;
            height: 20rem;
            overflow: hidden;
            background: $background-Two;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            &:hover div{
                transform: translateY(0rem);
            }
            div{
                position: absolute;
                width: 30%;
                left: 7rem;
                transform: translateY(20rem);
                transition: transform .4s ease;
                h3{
                    font-size: 2rem;
                    line-height: 1.2;
                    margin-bottom: 1rem;
                    span{
                        color: transparent;
                        -webkit-text-stroke: 1px $background
                    }
                }
                p{
                    color: $background;
                    opacity: .7;
                }
            }
            &:hover img{
                transform: translateX(18rem);
            }
            img{
                width: 25%;
                transition: transform .4s ease;
            }
            &::before{
                    
                content: " ";
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  background: #000000;
                  clip-path: circle(32vw at 100% -10%);
                  transition: 0.5s ease-in-out;
              }
              &:hover:before{
                clip-path: circle(18vw at 100% -20%);
              }
              
        }
    }
    &.Mc{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3.Tittle{
            font-size: 1.6rem;
            transform: translateY(-3rem);
            display: flex;
            align-items: center;
            &::after{
                content: "";
                width: 5rem;
                height: 2px;
                background: $color;
                display: block;
                margin-left: 1.5rem;
            }
            &::before{
                content: "";
                width: 5rem;
                height: 2px;
                background: $color;
                display: block;
                margin-right: 1.5rem;
                
            }
        }
        .GridContainer {
            display: grid;
            width: 92%;
            height: 80%;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 10px;
            grid-row-gap: 10px;
            }
            div{
                width: 100%;
                height: 100%;
                background: $background-Two;
                border-radius: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                overflow: hidden;
                &::before{
                    
                    content: " ";
                      position: absolute;
                      top: 0;
                      left: 0;
                      width: 100%;
                      height: 100%;
                      background: #000000;
                      clip-path: circle(22vw at 100% -10%);
                      transition: 0.5s ease-in-out;
                      opacity: .6;
                  }
                  &:hover:before{
                    clip-path: circle(18vw at 100% -20%);
                  }
                &:nth-child(1){
                     grid-area: 1 / 1 / 3 / 2; 
                     img{
                        width: 50%;
                     }
                    }
                &:nth-child(2){
                    height: 130%;
                    img{
                        width: 35%;
                    }
                     grid-area: 1 / 2 / 2 / 3; 
                    }
                &:nth-child(3){
                     grid-area: 2 / 2 / 3 / 3; 
                     height: 70%;
                     transform: translateY(5rem);
                     &::before{
                    
                        content: " ";
                          position: absolute;
                          top: 0;
                          left: 0;
                          width: 100%;
                          height: 100%;
                          background: #000000;
                          clip-path: circle(12vw at 100% -10%);
                          transition: 0.5s ease-in-out;
                          opacity: .6;
                      }
                      &:hover:before{
                        clip-path: circle(10vw at 100% -20%);
                      }
                    }
                img{
                    width: 40%;
                    z-index: 2;
                }
                h4.Tittle{
                    position: absolute;
                    top: .8rem;
                    left: .8rem;
                    color: $background;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &::after{
                        content: "";
                        display: block;
                        width: 3rem;
                        height: 2px;
                        background: $background;
                        transform: translateX(1rem); 
                    }
                }
            }
            
            
    }
    &.More{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3.Tittle{
            font-size: 1.6rem;
            transform: translateY(-3rem);
            display: flex;
            align-items: center;
            &::after{
                content: "";
                width: 5rem;
                height: 2px;
                background: $color;
                display: block;
                margin-left: 1.5rem;
            }
            &::before{
                content: "";
                width: 5rem;
                height: 2px;
                background: $color;
                display: block;
                margin-right: 1.5rem;
                
            }
        }
        .CardContainer{
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 100vw;
            .Card{
                position: relative;
                display: block;
                margin: auto;
                width: 22rem;
                height: 30rem;
                border-radius: 25px;
                background: $background-Two;
                color: #fff;
                text-align: center;
                border-radius: 20px;
                box-shadow: #a8a8a81c -10px 10px 10px,#a8a8a81c 10px 10px 10px; 
                overflow: hidden;
                margin-bottom: 6vh;
                  
                  &::before{
                    
                    content: " ";
                      position: absolute;
                      top: 0;
                      left: 0;
                      width: 100%;
                      height: 100%;
                      background: #000000;
                      clip-path: circle(12vw at 70% 10%);
                      transition: 0.5s ease-in-out;
                  }
                  &:hover:before{
                    
                    clip-path: circle(18vw at 100% -20%);
                  }
                  &:after {
                      content: "";
                      position: absolute;
                      top: 30%;
                      left: -20%;
                      font-size: 12em;
                      font-weight: 800;
                      font-style: italic;
                      color: rgba(255, 255, 255, 0.04);
                  }
                  
                  .price {
                      position: absolute;
                      top: 0.8vw;
                      right: 0.8vw;
                      font-weight: 500;
                      backdrop-filter: blur(8px);
                      background-color: rgba(0, 0, 0, 0.112);
                      box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
                      border: 0px rgba(255, 255, 255, 0.4) solid;
                      border-bottom: 0px rgba(40, 40, 40, 0.35) solid;
                      border-right: 0px rgba(40, 40, 40, 0.35) solid;
                      padding: .5vw .8vw;
                    border-radius: 3vw;
                      font-size: .9vw;
                      border-radius: 4px;
                  }
                  &:hover .imgBx{
                    transform: translateY(5rem);
                  }
                  &:hover .imgBx.Two{
                    transform: translateY(.2rem);
                  }
                  .imgBx{
                      transform: translateY(8rem);
                      transition: transform ease .5s;
                    &.one{
                        img{
                            margin-bottom: 1rem;
                            transform: rotateY(180deg)  ;
                        }
                    }
                    &.Two{
                      transform: translateY(4.5rem);
                        img{
                            width: 13rem;
                        }
                    }
                    &.three{
                        img{
                            margin-bottom:-1rem;
                            transform: translateY(-2rem)  rotateY(180deg); 
                            
                        }
                    }
                    img{
                        width: 20rem;
                    }
                    h2{
                        font-size: 1.5vw;
                      } 
                      p{
                        font-size: .9vw;
                        width: 100%;
                      } 
                  }
                  .contentBx {
                      position: absolute;
                      bottom: 0;
                      width: 100%;
                      height: 0px;
                      text-align: center;
                      transition: 1s;
                      z-index: 10;
                  }
                  &:hover .contentBx {
                      height: 10.5vw;
                  }
                  .contentBx h2 {
                      position: relative;
                      font-weight: 600;
                      letter-spacing: 1px;
                      color: #ffffff;
                    
                  }
                  .contentBx .size,
                  .contentBx .color {
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      padding: 8px 20px;
                      transition: 0.5s;
                      opacity: 0;
                      visibility: hidden;
                  }
                  &:hover .contentBx .size {
                      opacity: 1;
                      visibility: visible;
                      
                  }
                  &:hover .contentBx .color {
                      opacity: 1;
                      visibility: visible;
                  }
                  .contentBx .size h3,
                  .contentBx .color h3 {
                      color: #fff;
                      font-weight: 300;
                      font-size: 1.2vw;
                      text-transform: uppercase;
                      letter-spacing: 2px;
                      margin-right: 10px;
                  }
                  .contentBx .size span {
                      width: 1.5vw;
                      height: 1.5vw;
                      text-align: center;
                      font-size: 1vw;
                      display: inline-block;
                      color: #111;
                      background: #fff;
                      margin: 0 5px;
                      transition: 0.5s;
                      border-radius: 4px;
                    transition: all ease .5s;
                  }
                  .contentBx .size span:hover{
                    background: #000;
                    color: #fff;
                  }
                  .contentBx .color span {
                      width: 1.5vw;
                      height: 1.5vw;
                      background: rgb(0, 0, 0);
                      border-radius: 50%;
                      margin: 0 5px;
                  }
                  
                  .contentBx .color span:nth-child(2) {
                      background: #ffffff;
                  }
                  .contentBx .color span:nth-child(3) {
                      background: rgb(255, 0, 0);
                  }
                  .contentBx .color span:nth-child(4) {
                      background: rgb(0, 63, 199);
                  }
                  .contentBx button {
                      display: inline-block;
                      padding: 0.6vw 1.1vw;
                      background: #fff;
                      border-radius: 4px;
                      margin-top: 1vw;
                      text-decoration: none;
                      font-weight: 600;
                      color: #1f1f1f;
                      opacity: 0;
                      transform: translateY(50px);
                      transition: 0.5s;
                      border: none;
                    font-size: 1vw;
                  }
                  &:hover .contentBx button {
                      opacity: 1;
                      transform: translateY(0px);
                    cursor: pointer;
                      
                  }
                  .contentBx button:hover{
                    color: #fff;
                    background: #000000;
                  }
                  .info {
                      position: absolute;
                      top: 1em;
                      left: 1em;
                      color: #fff;
                      z-index: 300;
                  }
                  
                  .text {
                      display: none;
                      color: #fff;
                      padding: 2em;
                      z-index: 299;
                      position: relative;
                      backdrop-filter: blur(20px);
                      background-color: rgba(0, 0, 0, 0.2);
                      height: 100%;
                      text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
                  }
                  .info:hover + .text {
                      display: block;
                  }
                  .imgBx p{
                    transition: all ease .3s;
                    color: #bdbdbd;
                    width: 15vw;
                    display: block;
                    margin: auto;
                  }
                  &:hover .imgBx p{
                    opacity: 0;
                  }
            }
        }
    }
}
