@import '../../index.scss';
a{
    color: $color;
}

.navbar{
    width: 100vw;
    height: 4.5rem;
    position: fixed;
    background:$background;
    top: 0;
    display: grid;
    grid-template-columns: 6fr 1.8fr .55fr;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    z-index: 30;
    .Logo{
        font-size: 1.1rem;
        font-weight: 600;
        span{
            color: $primary;
        }
    }
    ul{
        display: flex;
        list-style: none;
        li{
            margin: 0 1rem;
            font-weight: 500;
            position: relative;
            display: flex;
            justify-content: center;
            &::after{
                content: "";
                width: 0%;
                height:2px;
                background: $color-gray;
                display: block;
                position: absolute;
                bottom: -.2rem;
                transition: width ease .2s;
            }
            &:hover::after{
                width: 60%;
            }
            &.active{
                a{
                    color: $color;
                }
                &::after{
                    content: "";
                    width: 60%;
                    height:2px;
                    background: $color;
                    display: block;
                    position: absolute;
                    bottom: -.2rem;
                }
            }
            a{
                color: $color-gray;
            }
        }
    }
    .BtnContainer{
        display: flex;
        align-items: center;
        span{
            display: flex;
            align-items: center;
            &:first-child{
                margin-right: 2rem;
                i{
                    &::after{
                        display: none;
                    }
                }
            } 
            i{ 
                font-size: 1.2rem;
                position: relative;
                cursor: pointer;
                &::after{
                    content: "";
                    width: 55%;
                    height:50%;
                    border-radius: 50%;
                    background: red;
                    display: block;
                    position: absolute;
                    top: -.1rem;
                    right: -.1rem;
                    transition: width ease .2s;
                }
            }
        }
    }
}
.footer{
    position: absolute;
    bottom: 0;
}