@import '../../index.scss';
a{
    color: $color;
}

.navbar{
    width: 100vw;
    height: 4.5rem;
    position: fixed;
    background:$background;
    top: 0;
    display: grid;
    grid-template-columns: 6fr 2fr .7fr;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    z-index: 10;
    .Logo{
        font-size: 1.1rem;
        font-weight: 600;
        span{
            color: $primary;
        }
    }
    ul{
        display: flex;
        list-style: none;
        li{
            margin: 0 1rem;
            font-weight: 500;
            position: relative;
            display: flex;
            justify-content: center;
            &.active{
                a{
                    color: $color;
                }
            }
            a{
                color: $color-gray;
            }
        }
    }
    .BtnContainer{
        display: flex;
        align-items: center;
        span{
            display: flex;
            align-items: center;
            &:first-child{
                margin-right: 3rem;
            } 
            i{ 
                font-size: 1.2rem;
            }
        }
    }
}
.footer{
    position: absolute;
    bottom: 0;
}